@tailwind base;
@tailwind components;
@tailwind utilities;



.activeHeader
{
    @apply bg-[#f2f2f2] rounded-md
}
/* width */
.custom-scroll::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  .custom-scroll::-webkit-scrollbar-track {
    background: #B4B4B8;
  }
  
  /* Handle */
  .custom-scroll::-webkit-scrollbar-thumb {
    background: #0b0b0b;
    

  }
  
  /* Handle on hover */
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #0b0b0b;
  }        